alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias sd='shutdown now'
alias getdl='mv ~/Downloads/* ./'
alias rmdl='rm -rf ~/Downloads/*'
alias lsdl='ls ~/Downloads/'
alias cddl='cd ~/Downloads/'
alias ..='cd ..'
alias rm='rm -i'
alias play_mc='java -cp minecraft.jar net.minecraft.LauncherFrame'
alias play_ftb='cd ~/.ftblauncher; java -jar FTB_Launcher.jar'
alias bye='exit'
alias countphp='find . -name "*.php" -exec wc -l {} \; | cut -d " " -f 1 | paste -sd+ | bc'
alias countgo='find . -name "*.go" -exec wc -l {} \; | cut -d " " -f 1 | paste -sd+ | bc'
alias ipetopdf='ipetoipe -pdf'
alias good='cat ~/.thumb.txt'
