alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias sd='shutdown now'
alias ..='cd ..'
alias rm='rm -i'
alias bye='exit'
alias countphp='find . -name "*.php" -exec wc -l {} \; | cut -d " " -f 1 | paste -sd+ | bc'
alias countgo='find . -name "*.go" -exec wc -l {} \; | cut -d " " -f 1 | paste -sd+ | bc'
alias ipetopdf='ipetoipe -pdf'
